@page "/usuarios"
@inject UsuariosService dataAccess


<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="bi bi-people-fill"> Usuarios </h2>
        </div>
        <div class="col-6">
            <NavLink class="btn btn-secondary mt-2" href=""> Volver al inicio </NavLink>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <NavLink class="btn btn-success" href="/usuarios/new"> Agregar usuarios </NavLink>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder=" Filtrar por nombre... " @bind="filtro" />
                <button type="button" class="btn btn-outline-secondary" @onclick="Buscar"> Buscar </button>
                <button type="button" class="btn btn-outline-secondary" @onclick="Refresh"> Refresh</button>
            </div>
        </div>
    </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nombre usuario</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Mail</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Usuario usuario in usuarios)
            {
                <tr>
                    <td>@usuario.Id</td>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.NombreUsuario </td>
                    <td>@usuario.Contraseña</td>
                    <td>@usuario.Mail</td>
                    <td>
                        <a href="/usuarios/@usuario.Id/editar">
                            <button type="button" class="btn btn-outline-secondary"> Actualizar </button>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(() => EliminarUsuario(usuario.Id))">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@code {
    private List<Usuario> usuarios = new List<Usuario>();
    private string filtro = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        usuarios = await dataAccess.ListarUsuarios();
    } 

    public async Task EliminarUsuario(int id)
    {
        await dataAccess.EliminarUsuario(id);
        usuarios = await dataAccess.ListarUsuarios();
    }

    public async Task Buscar()
    {
        usuarios = await dataAccess.Filtrar(filtro);
    }

    public async Task Refresh()
    {
        filtro = string.Empty;
        usuarios = await dataAccess.Filtrar(filtro);
    }
}
