@page "/productosVendidos"
@inject ProductosVendidosService dataAccess

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="bi bi-clipboard-check "> Productos vendidos </h2>
        </div>
        <div class="col-6">
            <NavLink class="btn btn-secondary mt-2" href=""> Volver al inicio </NavLink>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <NavLink class="btn btn-success" href="productosVendidos/new"> Agregar productos vendidos </NavLink>
        </div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder=" Filtrar por... " @bind="filtro" />
                <button type="button" class="btn btn-outline-secondary" > Buscar </button>
                <button type="button" class="btn btn-outline-secondary" > Refresh</button>
            </div>
        </div>
    </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Id producto</th>
                <th scope="col">Stock</th>
                <th scope="col">Id venta</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ProductoVendido prodVendido in productosVendidos)
            {
                <tr>
                    <td>@prodVendido.Id</td>
                    <td>@prodVendido.IdProducto</td>
                    <td>@prodVendido.Stock</td>
                    <td>@prodVendido.IdVenta </td>   
                    <td>
                        <a href="productosVendidos/@prodVendido.Id/editar">
                            <button type="button" class="btn btn-outline-secondary"> Actualizar</button>
                        </a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(() => EliminarProducto(prodVendido.Id))">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private List<ProductoVendido> productosVendidos = new List<ProductoVendido>();
    private string filtro = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        productosVendidos = await dataAccess.ListarProductosVendidos();
    }
    
    public async Task EliminarProducto(int id)
    {
        await dataAccess.EliminarProductoVendido(id);
        productosVendidos = await dataAccess.ListarProductosVendidos();
    }

    
} 
